In [2]:
import pandas as pd
import numpy as np

In [ ]:

# Load the data from the CSV file
data = pd.read_csv("D:/SOURABH/DS2024/py2025/finance_data.csv")

# Show first few rows of the data
print(data.head())

         Date       Description   Category  Amount
0  2025-03-01            Salary     Income   50000
1  2025-03-02         Groceries       Food   -2000
2  2025-03-03              Rent       Rent  -15000
3  2025-03-04  Electricity Bill  Utilities   -3000
4  2025-03-05            Coffee       Food    -500

In [5]:
# Rename columns 
data.rename(columns={"Description": "Type", "Category": "Category", "Amount": "Amount"}, inplace=True)

print(data.head())

         Date              Type   Category  Amount
0  2025-03-01            Salary     Income   50000
1  2025-03-02         Groceries       Food   -2000
2  2025-03-03              Rent       Rent  -15000
3  2025-03-04  Electricity Bill  Utilities   -3000
4  2025-03-05            Coffee       Food    -500

In [ ]:
# Checking for missing values
print(data.isnull().sum())

Date        0
Type        0
Category    0
Amount      0
dtype: int64

In [ ]:

# Add a column for Net Amount
data["Net_Amount"] = np.where(data["Type"] == "Income", data["Amount"], data["Amount"])

# Show the updated data
print(data.head())

         Date              Type   Category  Amount  Net_Amount
0  2025-03-01            Salary     Income   50000       50000
1  2025-03-02         Groceries       Food   -2000       -2000
2  2025-03-03              Rent       Rent  -15000      -15000
3  2025-03-04  Electricity Bill  Utilities   -3000       -3000
4  2025-03-05            Coffee       Food    -500        -500

In [ ]:
# Calculate total income
total_income = data[data["Category"] == "Income"]["Amount"].sum()

# Calculate total expenses
total_expense = data[data["Category"] != "Income"]["Amount"].sum()

# Calculate net balance
net_balance = total_income + total_expense


print(f"Total Income: ₹{total_income}")
print(f"Total Expenses: ₹{abs(total_expense)}")  # Taking the absolute value for better readability
print(f"Net Balance: ₹{net_balance}")

Total Income: ₹92000
Total Expenses: ₹51700
Net Balance: ₹40300

In [10]:
# Group by 'Category' and calculate total amounts
category_summary = data.groupby("Category")["Amount"].sum()

print("\nSpending Summary by Category:")
print(category_summary)

Spending Summary by Category:
Category
Charity          -1000
Debt             -8000
Education        -1500
Entertainment    -1200
Food             -7800
Health           -3000
Income           92000
Maintenance      -2500
Rent            -15000
Shopping         -4000
Transport        -3000
Utilities        -4700
Name: Amount, dtype: int64

In [ ]:
# Convert 'Date' column to datetime format
data["Date"] = pd.to_datetime(data["Date"])

# Group by date 
daily_summary = data.groupby("Date")["Amount"].sum()

print("\nDaily Financial Summary:")
print(daily_summary)

Daily Financial Summary:
Date
2025-03-01    50000
2025-03-02    -2000
2025-03-03   -15000
2025-03-04    -3000
2025-03-05     -500
2025-03-06    10000
2025-03-07    -1500
2025-03-08    -1200
2025-03-09    15000
2025-03-10    -1000
2025-03-11    -2000
2025-03-12     -700
2025-03-13    -1800
2025-03-14    -8000
2025-03-15     5000
2025-03-16    -4000
2025-03-17    -3000
2025-03-18     -500
2025-03-19    -1200
2025-03-20     -800
2025-03-21    12000
2025-03-22    -1500
2025-03-23    -1000
2025-03-24     -500
2025-03-25    -2500
Name: Amount, dtype: int64

In [18]:
# Export category summary to a CSV file
category_summary.to_csv("category_summary.csv", header=True)
print("Category-wise summary has been successfully saved to 'category_summary.csv'.")

# Export daily summary to a CSV file
daily_summary.to_csv("daily_summary.csv", header=True)
print("Daily financial summary has been successfully saved to 'daily_summary.csv'.")

Category-wise summary has been successfully saved to 'category_summary.csv'.
Daily financial summary has been successfully saved to 'daily_summary.csv'.